@import "assets/variables";

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2em;
  height: 1.6em;
  right: 1em;
  top: 1.3em;
  z-index: 999 !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2em !important;
  width: 2em !important;
  right: 1.25em !important;
  top: .7em !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  width: .3em !important;
  height: 2em !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  //width: unset !important;
}

/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 100vw !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.9) !important;
}

@media only screen and (min-width: 600px) {
  .bm-overlay, .bm-menu-wrap, .bm-burger-button {
    display: none !important;
  }
}