.hamburger__wrapper {
  & > button {
    background-color: rgba(0,0,0, 0.5);
  }
  & .menu__overlay {
    display: none;
    & .menu__wrapper {
      display: flex;
      position: fixed;
      flex-direction: column;
      right: 1em;
      background-color: rgba(0,0,0, 0.5);
    }
  }
}