@import "assets/variables.less";
@import "assets/bourbonFont.css";

.contact {
  background-image: url('https://images.unsplash.com/photo-1519581472129-9abf8d19f696?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-color: @dark-grey;
  height: 100vh;
  width: 100vw;
  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  &__title {
    font-family: BourbonGrotesque-Regular, sans-serif;
    font-size: 4em;
    z-index: 3;
    align-self: flex-start;
    margin: 0 .2em;
    margin-bottom: .5em;
    color: white;
  }
  &__img {
    z-index: 3;
    height: 18em;
    width: 30em;
    position: absolute;
    right: 8%;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    margin-top: 5em;
    &--wrapper {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-form {
    border-radius: 4px;
    & button {
      float: right;
      margin-bottom: 1em;
      margin-right: .7em;
    }
  }
  &-modal__wrapper {
    z-index: 2;
    width: 100%;
  }
  //& .whiteBG {
  //  background-color: white;
  //  content: '.';
  //  width: 100vw;
  //  height: 45vh;
  //  position: absolute;
  //  z-index: 1;
  //  bottom: 0;
  //}
}

@media only screen and (max-width: 600px) {
  .contact {
    &__form {
      margin-top: 0;
      width: 100%;
      padding: 1em;
    }
    &__img {
      display: none;
    }
    &__title {
      font-size: 2em;
      margin: 0 auto;
      margin-bottom: 1em;
    }
  }
}
