@import "assets/variables.less";

.contact-form {
  width: 80%;
  background-color: white;
  z-index: 2;
  & .form-column{
    &:first-child {
      margin-left: .3em;
      width: 40%;
    }
    &:last-child {
      width: 59%;
    }
  }
  & .form-group {
    margin: 1em;
  }
  & #form--registration {
    margin-top: 2em;
  }
  & label {
    display: table-cell;
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .contact-form {
    width: 100%;
    & .form-column {
      &:first-child {
        width: 100%;
      }

      &:last-child {
        width: 100%;
      }
    }
  }
}