@import "assets/variables.less";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  height: 4em;
  align-items: center;
  position: relative;
  z-index: 109000;
  & .header__logo--wrapper {
    position: absolute;
    margin-left: 2em;
    margin-top: 1em;
    z-index: 100;
  }
  & .header__navbar--wrapper {
    float: right;
    height: 100%;
  }
}