@import "assets/variables.less";

.navbar {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
  font-size: small;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__burgermenu {
    position: fixed;
    top: 1em;
    right: 1em;
  }
  &__buttons {
    flex-direction: row;
    padding: 1em;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: none;
    & a:hover {
      color: white;
    }
  }
  &__cross {
    display: none;
  }
  &__active-home {
    & .storybook-button--home {
      color: white;
    }
  }
  &__active-about {
    & .storybook-button--about {
      color: white;
    }
  }
  &__active-services {
    & .storybook-button--services {
      color: white;
    }
  }
  &__active-contact {
    & .storybook-button--contact {
      color: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    &__buttons {
      display: none;
    }
  }
}