@import "assets/variables.less";

.services {
  background-color: @dark-grey;
  &__gallery {
    width: 80%;
    margin: 0 auto;
  }
  &__text {
    color: white;
    text-align: center;
    width: 50%;
    margin:0 auto;
    font-size: 1.2em;
    margin-top: 3em;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 600px) {
  .services {
    &__text {
      font-size: .8em;
      width: 80%;
      margin: 6em auto 3em;
    }
    &__gallery {
      padding-bottom: 2em;
    }
  }
}