@import "assets/variables.less";

.services {
  background-color: @dark-grey;
  &__gallery {
    width: 80%;
    margin: 0 auto;
  }
  &__text {
    color: white;
    text-align: center;
    width: 50%;
    margin:0 auto;
    font-size: 1.2em;
    margin-top: -7em;
    margin-bottom: 2em;
  }
}
